<%- include('./partials/header.ejs') %>
    <%- include('./partials/navigation.ejs') %>
        <section class="home-page">
            <div class="header">
                <div class="header-content">
                    <h1>FOCUS ON THE PRODUCT AND LET US DO THE REST!</h1>
                    <p>We’re an Indian software development
                        company focused on just one thing -
                        offshore software development services.
                        We have 16+ years of experience and a team of 450+
                        developers working efficiently to deliver unique solutions
                        to start-ups, software development companies, enterprises,
                        and digital agencies to simplify their IT outsourcing experience
                        & reduce time/cost to market.
                    </p>
                    <div class="header-content__buttons">
                        <%- include('./partials/button.ejs', { title: 'MORE' }) %>
                            <%- include('./partials/button.ejs', { title: 'CONTACT US' }) %>
                    </div>
                    <div class="header-content__slider">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="10" cy="10" r="8.5" stroke="white" stroke-width="3" />
                        </svg>
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="10" cy="10" r="8.5" stroke="white" stroke-width="3" />
                        </svg>
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="10" cy="10" r="8.5" stroke="white" stroke-width="3" />
                        </svg>
                    </div>
                </div>
            </div>
            <main>
                <div class="home">
                    <section class="technologies">
                        <h1>Technologies</h1>
                        <p><span class="first-word">Stan’s</span> <span class="second-word">Assets</span> is a
                            team of developers that
                            are committed to developing high
                            quality and engaging entertainment
                            software
                        </p>
                        <div class="technologies-platforms">
                            <div class="technologies-platforms-icons">
                                <div class="technologies-platforms-icons__icon">
                                    <svg width="36" height="40" viewBox="0 0 36 40" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M31.5934 0L17.103 4.25745L14.9583 8.40732L10.6065 8.37177L0 20.0025L10.6065 31.6314L14.9562 31.5957L17.1055 35.7428L31.5934 40L35.4747 24.1168L33.2694 20.0025L35.4747 15.8888L31.5934 0ZM15.3074 9.07505L26.3917 5.95111L20.029 18.0379H7.30157L15.3074 9.07505ZM15.3074 30.9277L7.30157 21.9651H20.029L26.3917 34.0515L15.3074 30.9277ZM29.4936 32.0868L23.1287 20.0025L29.4936 7.91355L32.5672 20.0025L29.4936 32.0868Z"
                                            fill="white" />
                                    </svg>
                                </div>
                                <div class="technologies-platforms-icons__icon">
                                    <svg width="33" height="40" viewBox="0 0 33 40" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M6.56 13.3333L6.56164 29.0733C6.56164 30.5083 7.70308 31.6667 9.11512 31.6667H9.84V37.57C9.84 38.91 10.9995 40 12.3164 40C13.6382 40 14.76 38.91 14.76 37.5683V31.6667H18.04V37.57C18.04 38.91 19.1995 40 20.518 40C21.8399 40 22.96 38.91 22.96 37.5683V31.6667L23.6882 31.665C25.0953 31.665 26.24 30.505 26.24 29.07V13.3333H6.56ZM32.8 15.785C32.8 14.4433 31.6602 13.3333 30.34 13.3333C29.0198 13.3317 27.88 14.445 27.88 15.7867V25.9633C27.88 27.3067 29.0182 28.3333 30.34 28.3333C31.6602 28.3333 32.8 27.3083 32.8 25.9633V15.785ZM4.92 15.785C4.92 14.4433 3.7802 13.3333 2.46 13.3333C1.1398 13.3317 0 14.445 0 15.7867V25.9633C0 27.3067 1.13816 28.3333 2.46 28.3333C3.7802 28.3333 4.92 27.3083 4.92 25.9633V15.785ZM21.2396 3.59833L22.7812 0.5C22.8928 0.28 22.7501 0 22.5139 0C22.4057 0 22.3007 0.0633333 22.245 0.175L20.6886 3.305C18.1778 2.07667 14.8764 1.95167 12.113 3.305L10.555 0.175C10.5009 0.0633333 10.396 0 10.2861 0C10.0499 0 9.90724 0.28 10.0188 0.5L11.5604 3.59833C8.53456 5.32167 6.56 7.905 6.56 11.665H26.24C26.24 7.905 24.2654 5.32167 21.2396 3.59833ZM12.3016 8.33333C11.849 8.33333 11.48 7.96 11.48 7.5C11.48 7.04333 11.849 6.66667 12.3016 6.66667C12.7543 6.66667 13.12 7.04333 13.12 7.5C13.12 7.96 12.7543 8.33333 12.3016 8.33333ZM20.4984 8.33333C20.0457 8.33333 19.68 7.96 19.68 7.5C19.68 7.04333 20.0457 6.66667 20.4984 6.66667C20.951 6.66667 21.32 7.04333 21.32 7.5C21.32 7.96 20.951 8.33333 20.4984 8.33333Z"
                                            fill="white" />
                                    </svg>
                                </div>
                                <div class="technologies-platforms-icons__icon">
                                    <svg width="32" height="38" viewBox="0 0 32 38" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M31.16 27.8787C29.9354 31.4888 26.2694 37.8809 22.4928 37.9506C19.9876 37.9996 19.1821 36.4416 16.3185 36.4416C13.4564 36.4416 12.5606 37.9031 10.1924 37.9981C6.18526 38.1548 0 28.7717 0 20.5887C0 13.0724 5.15386 9.34672 9.65648 9.27863C12.0714 9.2343 14.3523 10.9333 15.8246 10.9333C17.3031 10.9333 20.0733 8.8907 22.9852 9.18996C24.2035 9.24222 27.6265 9.68873 29.8232 12.9537C23.9948 16.8203 24.9031 24.9066 31.16 27.8787ZM23.0241 0C18.6212 0.180506 15.0285 4.87524 15.5301 8.7577C19.5996 9.07913 23.504 4.44298 23.0241 0Z"
                                            fill="white" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <p>
                            Our engineers develop applications for the most popular platforms.
                        </p>
                        <%- include('./partials/raiting.ejs') %>
                    </section>
                    <section class="services">
                        <h1>Services</h1>
                        <div class="services-content">
                            <div class="services-content-item">
                                <h2>GAME DEVELOPMENT</h2>
                                <div class="services-content-item__text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis dapibus purus,
                                    viverra
                                    porta velit. Nam eleifend, dolor a condimentum ullamcorper, ligula nunc elementum
                                    mi, et
                                    mollis odio ligula eu felis. Vestibulum a libero lorem. Nulla vestibulum id elit in
                                    ullamcorper. Fusce pellentesque tortor velit, eu rutrum nunc eleifend quis. Fusce
                                    dignissim, lectus ut tristique convallis, leo justo tempus erat, at volutpat arcu
                                    tellus
                                    eget sapien. Aliquam non ligula in ligula malesuada venenatis.
                                    Fusce lacus felis, efficitur ut euismod ac, gravida sed tortor. Suspendisse vitae
                                    imperdiet elit, at viverra magna. Aenean ut libero ut arcu maximus faucibus ut ut
                                    sapien.
                                </div>
                            </div>
                            <div class="services-content-item">
                            </div>
                            <div class="services-content-item">
                            </div>
                            <div class="services-content-item">
                                <h2>SDK Development</h2>
                                <div class="services-content-item__text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis dapibus purus,
                                    viverra
                                    porta velit. Nam eleifend, dolor a condimentum ullamcorper, ligula nunc elementum
                                    mi, et
                                    mollis odio ligula eu felis. Vestibulum a libero lorem. Nulla vestibulum id elit in
                                    ullamcorper. Fusce pellentesque tortor velit, eu rutrum nunc eleifend quis. Fusce
                                    dignissim, lectus ut tristique convallis, leo justo tempus erat, at volutpat arcu
                                    tellus
                                    eget sapien. Aliquam non ligula in ligula malesuada venenatis.
                                    Fusce lacus felis, efficitur ut euismod ac, gravida sed tortor. Suspendisse vitae
                                    imperdiet elit, at viverra magna. Aenean ut libero ut arcu maximus faucibus ut ut
                                    sapien.
                                </div>
                            </div>
                            <div class="services-content-item">
                                <h2>3D Modeling services</h2>
                                <div class="services-content-item__text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis dapibus purus,
                                    viverra
                                    porta velit. Nam eleifend, dolor a condimentum ullamcorper, ligula nunc elementum
                                    mi, et
                                    mollis odio ligula eu felis. Vestibulum a libero lorem. Nulla vestibulum id elit in
                                    ullamcorper. Fusce pellentesque tortor velit, eu rutrum nunc eleifend quis. Fusce
                                    dignissim, lectus ut tristique convallis, leo justo tempus erat, at volutpat arcu
                                    tellus
                                    eget sapien. Aliquam non ligula in ligula malesuada venenatis.
                                    Fusce lacus felis, efficitur ut euismod ac, gravida sed tortor. Suspendisse vitae
                                    imperdiet elit, at viverra magna. Aenean ut libero ut arcu maximus faucibus ut ut
                                    sapien.
                                </div>
                            </div>
                            <div class="services-content-item">
                            </div>
                            <div class="services-content-item">
                            </div>
                            <div class="services-content-item">
                                <h2>VR App Development</h2>
                                <div class="services-content-item__text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis dapibus purus,
                                    viverra
                                    porta velit. Nam eleifend, dolor a condimentum ullamcorper, ligula nunc elementum
                                    mi, et
                                    mollis odio ligula eu felis. Vestibulum a libero lorem. Nulla vestibulum id elit in
                                    ullamcorper. Fusce pellentesque tortor velit, eu rutrum nunc eleifend quis. Fusce
                                    dignissim, lectus ut tristique convallis, leo justo tempus erat, at volutpat arcu
                                    tellus
                                    eget sapien. Aliquam non ligula in ligula malesuada venenatis.
                                    Fusce lacus felis, efficitur ut euismod ac, gravida sed tortor. Suspendisse vitae
                                    imperdiet elit, at viverra magna. Aenean ut libero ut arcu maximus faucibus ut ut
                                    sapien.
                                </div>
                            </div>
                        </div>
                    </section>
                    <%- include('./partials/discuss.ejs') %>
                        <section class="achievements">
                            <h1>achievements</h1>
                            <div class="achievements-items">
                                <div class="achievements-items__item"></div>
                                <div class="achievements-items__item"></div>
                                <div class="achievements-items__item"></div>
                                <div class="achievements-items__item"></div>
                            </div>
                        </section>
                        <section class="partners">
                            <h1>Partners</h1>
                            <div class="partners-items">
                                <div class="partners-items__item"></div>
                                <div class="partners-items__item"></div>
                                <div class="partners-items__item"></div>
                                <div class="partners-items__item"></div>
                                <div class="partners-items__item"></div>
                                <div class="partners-items__item"></div>
                                <div class="partners-items__item"></div>
                                <div class="partners-items__item"></div>
                                <div class="partners-items__item"></div>
                                <div class="partners-items__item"></div>
                                <div class="partners-items__item"></div>
                                <div class="partners-items__item"></div>
                                <div class="partners-items__item"></div>
                                <div class="partners-items__item"></div>
                                <div class="partners-items__item"></div>
                                <div class="partners-items__item"></div>
                            </div>
                        </section>
                        <%- include('./partials/activeContacts.ejs') %>
                </div>
            </main>

        </section>
        <%- include('./partials/footer.ejs') %>