<%- include('./partials/header.ejs') %>
    <section class="products">
        <%- include('./partials/navigation.ejs') %>
        <div class="page">
            <div class="page-header">
                <h1 class="page-title">stan assets portfolio</h1>
                <div class="portfolio-icon page-icon"></div>
            </div>
        </div>
        <%- include('./partials/portfolioItems.ejs') %>
        <div class="page">
            <%- include('./partials/activeContacts.ejs') %>
        </div>    
    </section> 
<%- include('./partials/footer.ejs') %>   