<%- include('./partials/header.ejs') %>
    <section class="services">
        <%- include('./partials/navigation.ejs') %>
        <div class="page">
            <div class="page-header">
                <h1 class="page-title"></h1>
                <div class="page-icon"></div>
            </div>
            <%- include('./partials/pageContent.ejs') %>
            <%- include('./partials/raiting.ejs') %>
            <%- include('./partials/servicesIcons.ejs') %>
        </div>
        <%- include('./partials/discuss.ejs') %>
        <div class="page">
            <%- include('./partials/pageContent.ejs') %>
            <%- include('./partials/activeContacts.ejs') %>
        </div>
        <%- include('./partials/recentProjects.ejs') %>
        <%- include('./partials/FAQ.ejs') %>       
    </section> 
<%- include('./partials/footer.ejs') %>    